.page-content {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.browse-options {
  display: flex;
  font-size: 1.25rem;
  gap: 1em;
  justify-content: space-around;
  padding: 1em;

  &__option {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    aspect-ratio: 16 / 9;
    max-height: 500px;
    max-width: 500px;
    background-color: #3b94d1;
    
    color: white;

    text-transform: capitalize;
  }
}

